---
import BaseLayout from "../layouts/BaseLayout.astro";
export let title: string = "İletişim";
export let description: string = "Bize ulaşın";
---

<BaseLayout title={title} description={description}>
  <h1>İletişim</h1>
  <p>E-posta: <a href="mailto:info@ornek.com">info@ornek.com</a></p>
  <p>Telefon: +90 555 555 55 55</p>
</BaseLayout>
